body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

.white {
    color: #053c40;
}

.green {
    background-color: #6d8b85;
    color: white;
}

/* home */

header {
    padding: 0.6rem;
    background-color: #053c40;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.6rem;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fffbf0;
    text-decoration: none;
    padding: 1.8rem;
    font-size: 1.25rem;
    font-weight: 600;
}

nav ul li a:hover {
    color: #62c9b4;
    transition: 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10% auto;
    max-width: 60%;

}

.profile-picture {
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.25rem;
}


.profile-name {
    margin-bottom: 0.6rem;
    letter-spacing: 0.125rem;
}

hr {
    border: none;
    height: 1.5px;
    background-color: #6d8b85;
    margin: auto;
    width: 90%;

}

.profile-description {
    line-height: 1.5;
    margin: 1.25rem;
}

/* Skills and services */
#skills-and-services {
    padding: 1.75rem 1.25rem;
}


#skills-and-services ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-items: center;
}

.image-gallery li {
    text-align: center;
}

.image img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

.image-gallery-content {
    width: 18rem;
    justify-content: center;
    margin: 0;
    padding: 0;
}


/* About me */

#about-me {
    width: 85%;
    text-align: justify;
    margin: auto;
    padding: 5.625rem 0;
}

#about-me p {
    margin: 1.875rem auto;
}


/* Contact me */
#contact-me {
    margin: 0 auto;
    padding: 0.625rem 0;
    border-radius: 5px;
}

.contact-information {
    display: flex;
    column-gap: 6.25rem;
    width: 50%;
    justify-content: center;
    margin: auto;
    padding: 0.625rem 0;
}

.box {
    flex: 1;
    text-align: justify;
}


.contact-details a {
    color: #67cdd4;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Media Query for Laptops and Desktops */
@media (max-width: 1280px) {
    #skills-and-services ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        font-size: 3rem;
    }

}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    #skills-and-services ul {
        grid-template-columns: 1fr 1fr;
    }

    .profile {
        display: block;
    }

    .profile-picture {
        width: 15rem;
    }
}

/* Media Query for Low Resolution Tablets and ipads max-width */
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    #skills-and-services ul {
        grid-template-columns: 1fr;
    }

    .profile-picture {
        width: 10rem;
    }
}

    /* Media Query for Mobile Devices */
    @media (max-width: 480px) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.0rem;
        }

        p {
            font-size: 0.75rem;
        }
    }