html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
}

.white {
    color: #053c40;
}

.green {
    background-color: #6d8b85;
    color: white;
}

a {
    text-decoration: none;
}

/* home */

#main-header {
    padding: 0.6rem;
    background-color: #053c40;
    margin: 0;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem;
    font-family: 'Amatic SC', sans-serif;
}

.menu-btn {
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.menu-btn span {
    width: 100%;
    height: 2px;
    background-color: white;
}

#main-header nav ul {
    list-style-type: none;
    text-align: right;
}

#main-header nav ul li {
    display: inline;
}

#main-header nav ul li a {
    color: #fffbf0;
    text-decoration: none;
    padding: 1.8rem;
    font-size: 1.25rem;
    font-weight: 600;
}

#main-header nav ul li a:hover {
    color: #62c9b4;
    transition: 0.5s;
}

#side-drawer {
    width: 100%;
    height: 45%;
    background-color: #496b64;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}


#side-drawer header {
    padding: 0.6rem;
    background-color: #053c40;
    margin: 0;
    padding: 0.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#side-drawer ul {
    list-style: none;
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#side-drawer li {
    margin: 0.5rem 0;

}

#side-drawer a {
    color: #fffbf0;
    font-size: 1.5rem;
}

#side-header a:hover {
    color: #62c9b4;
    transition: 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15% auto;
    max-width: 60%;

}

.profile-picture {
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1.25rem;
}


.profile-name {
    margin-bottom: 0.6rem;
    letter-spacing: 0.125rem;
}

hr {
    border: none;
    height: 1.5px;
    background-color: #6d8b85;
    margin: auto;
    width: 90%;

}

.profile-description {
    line-height: 1.5;
    margin: 1.25rem;
}

/* Skills and services */
#skills-and-services {
    padding: 1.75rem 1.25rem;
}


#skills-and-services ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    gap: 5px;
    width: 90%;
}

.image-gallery li {
    text-align: center;
    width: 18rem;
    margin: 0 auto;
}

.image img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

.image-gallery p {
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* About me */

#about-me {
    width: 85%;
    text-align: justify;
    margin: auto;
    padding: 3rem 0;
    line-height: 1.5;
}

#about-me p {
    margin: 1.875rem auto;
}


/* Contact me */
#contact-me {
    margin: 0 auto;
    padding: 0.625rem 0;
    border-radius: 5px;
}

.contact-information {
    display: flex;
    column-gap: 6.25rem;
    width: 60%;
    justify-content: center;
    margin: auto;
    padding: 0.625rem 0;
}

.box {
    flex: 1;
    text-align: justify;
}


.contact-details a {
    color: #67cdd4;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}


/* Media Query for Laptops and Desktops */
@media (max-width: 1280px) {

    h1 {
        font-size: 3rem;
    }

}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    .profile {
        display: block;
    }

    .profile-picture {
        width: 15rem;
    }
}

/* Media Query for Low Resolution Tablets and ipads max-width */
@media (max-width: 767px) {
    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
    }


    .profile-picture {
        width: 10rem;
    }


    #main-header nav a {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    #side-drawer:target {
        display: block;
    }

    .profile {
        max width: 80%;
    }

    .contact-information {
        width: 80%;
    }

    /* Media Query for Mobile Devices */
    @media (max-width: 480px) {
        #logo {
            font-size: 2rem;
        }
    }